@import "./../../scss/variables.scss";

$mob-width: 85%;

.chips {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 910px) {
        flex-direction: column;
        gap: 2rem;
    }
}

.submitBtn {
    transition: all 0.85s;
    background-color: var(--bg-panel);
    border: 2.95px solid var(--btn-border);
    font-size: 1.25rem;
    color: var(--btn-color);
    height: 2.8rem;
    width: $panel-full-width;
    font-weight: 550;
    margin-top: 2.5rem;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    @media only screen and (max-width: 910px) {
        width: 100%;
    }

    &:hover {
        transition: all 0.85s;
        box-shadow: 0px 0px 25px #6efcdb;
    }
}

.panelOne {
    margin-top: 5rem;
    animation: appear 0.35s forwards ease-in-out;
    @media only screen and (max-width: 910px) {
        flex-direction: column;
        width: $mob-width;
        gap: 2rem;
        margin-top: 2rem;
        align-items: center;
    }
}

.panelTwo {
    margin-top: 2.5rem;
    animation: appear 0.35s forwards ease-in-out;

    @media only screen and (max-width: 910px) {
        flex-direction: column;
        width: $mob-width;
        margin-top: 3rem;
        gap: 2rem;
        align-items: center;
    }
}

.panelThree {
    display: flex;
    width: $panel-full-width;
    justify-content: space-between;
    margin-top: 2.5rem;
    animation: appear 0.3s forwards ease-in-out;

    @media only screen and (max-width: 910px) {
        flex-direction: column;
        width: $mob-width;
        gap: 2rem;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
